body{
	font-family:arial, sans-serif;
	background-color:#8BDDD1;
	color:#000;
	line-height:24px;
	font-size:14px;
}
h1{
	font-size:38px;
	margin:0 0 10px 0;
}
h2{
	font-size:22px;
	margin:10px 0 10px 0;
}
p{
	margin:0 0 15px 0;
}
a{
	text-decoration:none;
	color:#FFF;
}
a:hover{
	color:#555;
	cursor:pointer;
}